html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background: #5c8d88;
  background: linear-gradient(to right, #212a3f, #0b544d);
}

.bg {
  background-image: url(https://wallpaper.dog/large/10768015.png);
  background-position: center center;
}
