@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<body>
    <!--Contenedor Principal-->
    <div class="container w-75 mt-5 rounded shadow">
        <div class="row align-items-stretch">
            <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded-start"> <!--Control de imagen-->
            </div>
            <div class="col bg-white p-10 rounded-end"> <!--Control de elementos de inicio de sesion-->
                <div class="text-end">
                    <img src="https://i.ibb.co/RSGPwqG/nobackground.png" width="100" alt="logo">
                </div>

                <h2 class="fw-bold text-center py-5">Bienvenido a esta cosita linda</h2>

                <!-- Formulario del login con sus inputs y botones-->

                <form action="#">
                    <div class="mb-4">
                        <label for="email" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" name="email">
                    </div>
                    <div class="mb-4">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" name="email">
                    </div>
                    <div class="mb-4">
                        <input type="checkbox" name="connected" class="form-check-input">
                        <label for="connected" class="form-check-label">Mantenerme conectado</label>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                    </div>

                    <div class="my-3">
                        <span>No tienes cuenta? <a href="#">Regístrate</a></span> <br>
                        <span><a href="#">Recuperar contraseña</a></span>
                    </div>
                </form>

                <!-- Elementos extra inicio de sesion con redes sociales-->

                <div class="container w-100 my-5">
                    <div class="row text-center">
                        <div class="col-12">Otras opciones</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-outline-primary w-100 my-1">
                                <div class="row align-items-center">
                                    <div class="col-2 d-none d-md-block">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Facebook_Logo_(2019).png"
                                            width="32" alt="">
                                    </div>

                                    <div class="col-10 text-center">
                                        Facebook
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-danger w-100 my-1">
                                <div class="row align-items-center">
                                    <div class="col-2 d-none d-md-block">
                                        <img src="https://logos-world.net/wp-content/uploads/2020/09/Google-Symbol.png"
                                            width="58" alt="">
                                    </div>

                                    <div class="col-10 text-center">
                                        Google
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>


<!--Codigo Viejo-->

@* <div class="text-center">
@if (TempData["MensajeLogin"] != null)
{
<div class="alert alert-success" role="alert">
@TempData["MensajeLogin"]
</div>
}
<h1 class="display-4">Inicio de sesión principal</h1>
<div class="login1">
<form method="post">
<!-- entrada de usuario -->
<div class="form-group">
<label for="usuario">Correo:</label>
<input type="text" id="usuario" name="usuario" class="form-control"
asp-for="ObjetoUsuario.NombreUsuario" required>
</div>
<!-- entrada de contraseña -->
<div class="form-group">
<label for="contrasena">Contraseña:</label>
<input type="password" id="contrasena" name="contrasena" class="form-control"
asp-for="ObjetoUsuario.Contraseña" required>
</div>

<button type="submit" class="btn btn-primary">Iniciar sesión</button>
</form>
</div>
</div> *@
